<div class="container-fluid">
  <div class="container p-5">
    <p class="h1 text-center">{{ title | uppercase }}</p>
    <p class="lead text-center">
      This is my very first angular web application.
    </p>
  </div>
  <div class="container">
    <label for="addItemInput">What would you like to do today?</label>
    <input #newItem placeholder="add an item" class="lg-text-input" id="addItemInput"/>
    <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
    <div class="container-lg my-4"> 
      <h2>{{items.length}} <span *ngIf="items.length === 1 || items.length === 0; else elseBlock">item</span>
        <ng-template #elseBlock>items</ng-template></h2>
        
        <ul>
          <li *ngFor="let item of items">
            <app-item (remove)="remove(item)" [item]="item"></app-item>
          </li>
        </ul>        
    </div>

  </div>
</div>
